<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome Flask app</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css" integrity="sha384-LTIDeidl25h2dPxrB2Ekgc9c7sEC3CWGM6HeFmuDNUjX76Ert4Z4IY714dhZHPLd" crossorigin="anonymous">
</head>
<body>
    <h1>This is my root page!</h1>

    <div>
        <p>Please enter your name.</p>
        <form class="pure-form" action="" method="post">
            Name:<br>
            <input type="text" name="username"><br>
            <button class="pure-button pure-button-primary" value="Submit" type="submit">Submit</button>
        </form>
    </div>

    <br>

    <div>
        {% if name %}
            <p>Welcome to my site {{ name }}</p>
        {% endif %}
    </div>
</body>
</html>